@model ScheduleMaster.Models.ViewModels.ActionConfiguration.CreateHipChatActionViewModel

<div class="form-horizontal">
    @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, "Errors: ")
        </div>
    }


    @Html.HiddenFor(m=>m.ActionConfiguration.Id)
    @Html.HiddenFor(m => m.ActionType)
    @Html.HiddenFor(m=>m.ActionConfiguration.JobConfigurationId)
    <div class="form-group">
        @Html.LabelFor(m => m.ActionConfiguration.Name, new {@class = "control-label col-sm-4"})
        <div class="col-sm-8">
            <input type="text" id="@Html.IdFor(m => m.ActionConfiguration.Name)" name="@Html.NameFor(m => m.ActionConfiguration.Name)" value="@Model.ActionConfiguration.Name" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ActionConfiguration.RegularExpression, new {@class = "control-label col-sm-4"})
        <div class="col-sm-8">
            <input type="text" id="@Html.IdFor(m => m.ActionConfiguration.RegularExpression)" name="@Html.NameFor(m => m.ActionConfiguration.RegularExpression)" value="@Model.ActionConfiguration.RegularExpression" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ActionConfiguration.Active, new {@class = "control-label col-sm-4"})
        <div class="col-sm-8">
            @Html.CheckBoxFor(m => m.ActionConfiguration.Active)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ActionConfiguration.ApiKey, new {@class = "control-label col-sm-4"})
        <div class="col-sm-8">
            <input type="text" id="@Html.IdFor(m => m.ActionConfiguration.ApiKey)" name="@Html.NameFor(m => m.ActionConfiguration.ApiKey)" value="@Model.ActionConfiguration.ApiKey" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ActionConfiguration.Mentions, new {@class = "control-label col-sm-4"})
        <div class="col-sm-8">
            <input type="text" id="@Html.IdFor(m => m.ActionConfiguration.Mentions)" name="@Html.NameFor(m => m.ActionConfiguration.Mentions)" value="@Model.ActionConfiguration.Mentions" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ActionConfiguration.NotificationColor, new {@class = "control-label col-sm-4"})
        <div class="col-sm-8">
            <input type="text" id="@Html.IdFor(m => m.ActionConfiguration.NotificationColor)" name="@Html.NameFor(m => m.ActionConfiguration.NotificationColor)" value="@Model.ActionConfiguration.NotificationColor" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ActionConfiguration.RoomName, new {@class = "control-label col-sm-4"})
        <div class="col-sm-8">
            <input type="text" id="@Html.IdFor(m => m.ActionConfiguration.RoomName)" name="@Html.NameFor(m => m.ActionConfiguration.RoomName)" value="@Model.ActionConfiguration.RoomName" class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to Edit Job", "Edit",new { Controller="MonitorJobs",id=Model.ActionConfiguration.JobConfigurationId})
</div>
