@using ScheduleMaster.Models.Entities
@using ScheduleMaster.Models.ViewModels.ActionConfiguration
@model ScheduleMaster.Models.ViewModels.ActionConfiguration.ICreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create @Model.ActionType Action</h2>
<hr/>


<div class="row">
    <div class="col-md-6">

        @Html.HiddenFor(m => m.ActionType)
        @{
            switch (Model.ActionType)
            {
                case ActionType.EmailActionConfiguration:
                    using (Html.BeginForm("Create", "Action", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("_EmailActionDetails", (CreateEmailActionViewModel)Model);
                    }
                    break;
                case ActionType.HipchatActionConfiguration:
                    using (Html.BeginForm("CreateHipChat", "Action", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("_HipChatActionDetails", (CreateHipChatActionViewModel)Model);
                    }
                    break;
                default:
                    <p>Not Supported</p>
                    break;
            }
        }
    </div>
</div>
